.container {
	max-width: 1230px;
	padding: 0 30px;
	margin: 0 auto;

}

.flex {
	display: flex;
}

.site-container {
	overflow: hidden;
}

.btn-reset {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.btn {
	color: var(--white-color);
	background-color: var(--accent-color);
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	border: 1px transparent solid;
	cursor: pointer;
}

.btn:hover {
	color: var(--accent-color);
	background-color: transparent;
	border: 1px var(--accent-color) solid;
}


.description {
	font-weight: 500;
}
