.clients {
	background-image: url("../../img/bg.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.clients__items {
	justify-content: space-between;
	padding: 100px 0;
}
